body {
    margin:0;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight:bold;
    background-color: rgba(197,195,187,0.8);
}

h1.reservation {
    text-align: center;
    margin-top:50px;
    margin-bottom: 50px;
}

label[for=destination] {
    margin-left: 15px;
}

.formulaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    background-color: whitesmoke;
}

.destination {
    margin-top: 20px;
    margin-left: 0;
    margin-bottom: 0;
    width: 100%;
}

.select {
    width: 96%;
    height: 40px;
    margin: 10px;
    margin-left: 18px;;
    background-color: white;
}

.date {
    display: flex;
    justify-content: center;
    width: 100%;
    
}
.date section {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 95%;
    height: 70px;
}
input#start {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

input#return {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.voyageur {
    display: flex;
    justify-content: center;
    margin: 20px;
    width: 96%;
    height: 40px;
}

input#voyageur {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

section.button {
    display: flex;
    width: 400px;
    height: 40px;
    margin: 20px;
    justify-content: center;
    text-align: center;
    background-color: whitesmoke;
}

