
    
footer{
    font-family: fondamento, sans-serif;
}
.color-diff-back{
    background-color: #ff9135;
    width: auto;
    height: 10px;
    margin:0px;
}

.back-color{
    background-color: #707372;
    width: auto;
    height: 1080px;
    margin: 0;
}
footer div h1 {
    margin-top: 0;
    text-align: center;
    font-size: 3em;
    padding-top: 20px;
}
.copy{
    text-align: center;
    color: #e4f1e7;
    font-size: 24px;
    padding-top: 60px;
}
.logo-footer{
    width: 390px;
    height: 290px;
    margin-left: auto;
    margin-right: auto;
}
.color-point{
    color:#ff9135;
}
.hr-footer{
    margin-bottom: 30px;
}
.reseau-sociau{
    width: 170px;
    height: 50px;
    cursor: pointer;
    margin-top: 10px;
}
footer a{
    text-decoration-line: none;
    text-decoration: none;
}
footer a:hover{
    color:#e4f1e7;
}
footer a:visited{
    color:#e4f1e7;
}
footer a:link{
    color:#e4f1e7;
}
.figure-footer {
    text-align: center;
}
.figuration-footer{
    color: #e4f1e7;
}
.img-soc-paiem{
    margin-top: 40px;
    margin-left: 30px;
}
.img-paiement-footer{
    width: 400px;
    height: 100px;
    cursor: pointer;
    align-content: center;
}
.end-color-footer{
    background-color: #ff9135;
    width: auto;
    height: 10px;
    margin:0px;
}
.rebrique-footer{
    color:#e4f1e7;
}
.rebrique-footer{
    margin-right: 40px;
    font-size: 20px;
    text-align: center;
    margin-top: 60px;
}
.rebrique-footer ul{
    list-style: none;
}
.rebrique-footer ul li{
    margin-bottom: 10px
}
.logo-footer:hover{
    opacity: 0.9;
}
.h1-footer:hover{
    opacity: 0.8;
}
.reseau-sociau:hover{
    opacity: 0.7;
    align-content: center;
}
.img-paiement-footer:hover{
    opacity: 0.7;
    align-items: center;
}
.rebrique-footer ul li:hover{
    opacity: 0.7;
}

/*@media  Min-width:840px*/

@media screen and (min-width:740px){
    .logo-footer{
        width: 250px;
        height: 120px;
        float: left;
    }
    .figure-footer{
        float: left;
    }
    .back-color{
        height:530px; 
    }
    .rebrique-footer{
        float: right;
    }
    .copy{
        text-align: center;
        margin-top: 220px;
    }
    .img-soc-paiem{
        margin-top: 15px;
    }
    .reseau-sociau{
        margin-left: 10px;
    }
    .rebrique-footer{
        text-align:inherit;
    }
    .h1-footer{
        margin-bottom: 0;
        text-align: center;
    }
    
}

